body {
  margin: 0px;
}

#tbl {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;

}

#tbl td,
#tbl th {
  border: 1px solid black;
  padding-top: 30px;
}

#tbl td {
  padding-left: 10px;
}

#tbl tr:nth-child(even) {
  background-color: #f2f2f2;
}

#tbl tr:hover {
  background-color: #126586;
  color: white;
}

#tbl th {
  padding-top: 30px;
  background-color: #053B50;
  color: white;
}

span {
  font-weight: lighter;
  font-size: smaller;
}

img {
  height: 15px;
  width: 15px;
}

.download {
  padding-top: 30px;
  margin: 5px;
}

button {
  border: 1px solid green;
  border-radius: 20px;
  height: 30px;
  font-size:small;
}

button:hover {
  background-color: green;
  color: white;

}

.sidebar a {
  display: block;
  color: white;
  padding: 16px;
  text-decoration: none;
}

.sidebar a.active {
  background-color: white;
  color: black;
  font-size: larger;
}

.sidebar a:hover:not(.active) {
  background-color: #66d1f5;
  color: white;
}

.sidebar {
  background-color: #053B50;
  height: 100vh;
  text-align: center;
}

.dashboard {
  display: grid;
  grid-template-columns: 200px auto;
  padding-right: 5px;
}


h1 {
  margin: 0px;
  padding-bottom: 10px;
  text-align: center;
  color: black;
}

h2 {
  padding-top: 10px;
  margin-top: 0px;
  color: white;
}