<div class="main">
    <section>
        <div class="signin ">

            <div class="content">
                <h1>CCTV</h1>
                <h2>Monitoring Tool</h2>
                <h5>Forgot Password</h5>
                <div class="form">
                    
                    <div class="inputBox">

                        <input type="email" required> <i>E-mail</i>

                    </div>

                    <div class="inputBox">

                        <input type="email" required> <i>New Password</i>

                    </div>

                    <div class="inputBox">

                        <input type="password" required> <i>Confirm Password</i>

                    </div>
                    <div class="inputBox">
                        <a href="./Camera status/index.html"><input type="submit" value="Login"></a>
                    </div>
                </div>

            </div>

        </div>

    </section> <!-- partial -->
</div>
